{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link rel='stylesheet' type='text/css' href='{% static "iapp_group/style.css" %}' />
{% endblock css %}

{% block content %}
<div>
    <div id='main'>
        <div id='left'>
            <div id='row'><b>Gruppenname:</b></div>
            <div id='row'><b>Gruppennummer:</b></div>
            <div id='row'><b>Besitzer:</b></div>
	    <div id='row'><b>Beschreibung:</b></div>
            <div id='row'><b>Mitglieder: </b></div>
        </div>
        <div id='right'>
            <div id='row'><b>{{ group.cn }}</b></div>
            <div id='row'><b>{{ group.gidNumber }}</b></div>
            <div id='row'>{{ owner }}</div>
	    <div id='row'>{{ description }}</div>
            <div id='row'><ul>
                {% for member in members %}
                {% if member.former_member %}
                  <li><a href="#">{{ member.uid }}</a>*</li>
                {% else %}
                  <li><a href="{% url 'user_details' member.uid %}">{{ member.sn }}, {{ member.givenName }}</a></li>
                {% endif %}
                {% endfor %}
            </ul></div>
        </div>
    </div>
    <a href='/group/'><button>zur&uuml;ck</button></a>
    {% if owner == user.username %}
        <a href="{% url 'group_edit' group.cn %}"><button>bearbeiten</button></a>
    {% endif%}
    <a href="{% url 'group_edit' group.cn %}"><button>bearbeiten</button></a>
</div>
{% endblock content %}
