{% load custom_filter %}
<a href="{% url 'user_edit' user.uid %}"><button>Edit</button></a>
<ul>
{% for attr in user.showable_attrs %}
  <li id="{{ attr }}">
  <label>{{ attr }}: </label>
  <span class="{{ attr }}">
    {% if attr in user.MULTIVALUE_ATTRS %}
      {{ user|get_attr:attr|join:", " }}
    {% else %}
      {% if attr == 'jpegPhoto' %}
        <img src="data:image/jpeg;base64,{{ user|get_attr:'jpegPhoto'|get_image }}">
      {% else %}
        {{ user|get_attr:attr }}
      {% endif %}
    {% endif %}
  </span>
  </li>
{% endfor %}
</ul>
<a href="{% url 'user_edit' user.uid %}"><button>Edit</button></a>

